html {
  box-sizing:border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  display: flex;
  background: #022359;
  min-height: 100vh;
  background: linear-gradient(-175deg, #334663 0%,#d4e1f7 48%,#022359 100%);
  background-size: cover;
  align-items: center;
  justify-content: center;
}
